<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- Gaming Installs -->
    <package id="geforce-experience" />
    <package id="discord" />
    <package id="steam" />
    <package id="epicgameslauncher" />
    <package id="origin" />
    <package id="uplay" />
    <package id="twitch" />
    <package id="goggalaxy" />

</packages>